body{
    background-color:grey;

}

#gallery{
    background: blue;
    width: 10%;
    height: 100%;
}

.foto-gallery {
    border: 1px solid black;
    height: calc(100% / 5);
}
.wrapper-carousel{
    height: 100%;
    width: 70%;
    display: flex;
    position: relative;
}
#carousel{
    width: 100%;
    height: 100%;
    border:1px solid black;
}
button{
    width: 5%;
    height: 100%;
    position: absolute;
    filter: opacity(0.4);
    z-index: 999;
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
}

.foto-wrapper{
    width: 100%;
    height: 100%;
    z-index: 0.1;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-foto{
    color: white;
    font-size: 0.6rem;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 10%;
}
#btn-right{
    right: 0;
}
.invisible{display: none;}

.global-container{
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
